.header{
    background-color: grey;
    height: 10vh;
}
img{
    border-radius: 50%;
    height: 8vh;
}
.img-container{
    height: 15vh;
    display: flex;
    justify-content: center;
    margin-top: -4vh;
}
#img{
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    background-color: goldenrod; 
}